<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">KL University</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="home">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Department<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">CSE</a></li>
          <li><a href="#">MECH</a></li>
          <li><a href="#">CIVIL</a></li>
        </ul>
      </li>
      <li><a routerLink="gallery">Gallery</a></li>
      <li><a routerLink="data">DataBind</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>



  

<div >

  <!-- <app-login></app-login>
  <app-register></app-register>
  <app-home></app-home> -->
</div>             
<router-outlet></router-outlet>